@font-face{
  font-family: betronicl;
  src: url("./232MKSDRoundLight.TTF");

}

body {
  background-color: salmon;
  font-family: betronicl;
}

.home-container-wrapper {
  background-color: cyan;
  font-family: betronic-L;
  display: : center;
}

.vbox-container {
  /*Hbox*/
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  background-color: lime;
}

#Logo {
  width: 25%;
  height: 75%;
}
.title-container{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.hbox-container {
/*Hbox*/
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  justify-content: space-around;
  background-color: orange;
}

.clock-container {
/*Vbox*/
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;

  width: 300px;
  height: 300px;

  background-color: white;
}

.image-container {
  background-color: navy;
}

.nandw-container {
  /*Vbox*/
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;

  background-color: darkgrey
}
